<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-300 overflow-hidden">
	<div class="flex h-screen">
        <%- include('partials/navbar') %>
        
        <%- include(content) %>
    </div>
  </body>
</html>